<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
	<table>
	<th> Basic Info</th> <th>Access to <%=@databases.count%> Databases</th>
	<tr>
		<td class="basic_info">
  			<p>
			    <%= f.label :name %>:
			    <%= f.text_field :name %>
			  </p>
			  <p>
			    <%= f.label :password, 'Password' %>:
			    <%= f.password_field :password, :size => 40 %>
			  </p>
			  <p>
			    <%= f.label :password_confirmation, 'Confirm' %>:
			    <%= f.password_field :password_confirmation, :size => 40 %>
			  </p>
			  <p>
			    <%= f.submit "Update" %>
			  </p>
		</td>
		<td class="databases">
			<div class ="database-option">
				<%= radio_button_tag 'user[working_db_id]', nil, @user.working_db.nil? %>
				<label>Default CCOM Database</label>
			</div>
			<%@databases.each do |database|-%>
				<div class ="database-option">
					<%= radio_button_tag 'user[working_db_id]', database._id, @user.working_db == database %>
					<%= label_tag database.name.titleize%>
				</div>
			<%end-%>
		</td>
	</tr>
	</table>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', user_path %>
