
<% form_for @segment do |f| %>
    <%= f.select 'install_asset_id', options_for_select(@uninstalled_assets.collect{ |asset| [asset.user_tag, asset.guid] }) %>
    <%= submit_tag "Install"%>
<% end %>
<ul>
  <% @segment.installed_assets.each do |asset| %>
      <li><%= asset.user_tag %>
        <% form_for @segment, :id => "uninstall-#{asset.guid}-form" do |f| -%>
        <%= f.hidden_field :delete_asset_id, :value => asset.guid %>
        <%= submit_tag "Uninstall", :id => "uninstall-#{asset.guid}" %>
        <% end -%>
      </li>
  <% end %>
</ul>
