<div id="segment_tabs">
  <ul class="tab_links">
    <li><a href="#segment_details">Details</a></li>
    <% if @segment.object_type %><li><a href="#segment_object_type">Type</a></li><% end %>
    <% if @segment.segment_config_network %><li><a href="#segment_datasheet">Data Sheet</a></li><% end %>
    <li><a href="#segment_installed_assets">Installed Assets</a></li>
  </ul>
  <div id="segment_details">
    <%= render :partial => "ccom_entities/ccom_entity", :object => @segment %>
  </div>
  <% if @segment.object_type %><div id="segment_object_type">
      <%= render :partial => "ccom_entities/ccom_entity", :object => @segment.object_type %>
    </div><% end %>

  <div id="segment_datasheet">
    <%= render :partial => "network_connections/datasheet", :collection => @segment.entry_points, :locals => {:indent_level => 1 } %>
  </div>
  <div id="segment_installed_assets">
    <%= render :partial => "install_asset_form", 
        :locals => {:segment => @segment, :uninstalled_assets => @uninstalled_assets } %>
    <ul>
      <%= render :partial => "installed_asset", 
          :collection => @segment.installed_assets, :locals => {:segment => @segment } %>
    </ul>
  </div>
</div>

<div id="asset-details" style="display: none;"> </div>
