<div id="show-assets">
<table class="index">
<tbody>
<% @assets.each do |asset| -%>
  <tr>
	<td class="index">
	    <%= image_tag "asset_collapsed.png", :class=>"icon", :onclick => visual_effect(:toggle_blind, 'asset'<< asset.g_u_i_d) %>
        <%= link_to !asset.tag.empty? ? asset.tag : "Asset: "<<asset.g_u_i_d, asset_url(asset), :class => "asset-name" %> 
	</td>
	<td class="index">
		<div class="buttons">
	  		<%= link_to "View", asset_url(asset),
	  			:class => "button" %>
	  		<%= link_to "Edit", edit_asset_path(asset),
	  			:class => "button" %>
	   		<%= link_to "Delete", asset,
	  			:confirm => 'Are you sure?',
	  			:method => :delete,
	  			:class => "button" %>
	    </div>
	</td>
  </tr>
  <tr>
	<td colspan="2" class="index">
  		<div class="asset-basic">
  			<div id= "asset<%=asset.g_u_i_d %>" style="display: none;" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
  				<%= render :partial => "ccom_entities/ccom_entity", :object => asset %>
  			</div>
  		</div>
     </td>
  </tr>
<% end -%>
</tbody>
</table>
</div>