<ul id="show-assets">
<% @assets.each do |asset| -%>
  <li><%= link_to asset.tag, "#", :class => "asset-name", :onclick => visual_effect(:toggle_blind, 'asset'<< asset.g_u_i_d) %>
	   <div class="clear">
			<%= link_to "<span>View</span>", asset_url(asset),
				:class => "button" %>
			<%= link_to "<span>Edit</span>", edit_asset_path(asset),
				:class => "button" %>
	   		<%= link_to "<span>Destroy</span>", asset,
				:confirm => 'Are you sure?',
				:method => :delete,
				:class => "button" %>
	   </div>
  </li>
  <div class="asset-basic">
  	<div id= <%="asset" << asset.g_u_i_d %> style="display: none;">
  		<%= render :partial => "ccom_entities/basic_info", :object => asset %>
  	</div>
  </div>
<% end -%>
</ul>