<h1>Listing databases</h1>

<table>
  <tr>
	<th> Name </th>
	<th> Created </th>
  </tr>

<% @databases.each do |database| %>
  <tr>
	<td><%= database.name.titleize %></td>
	<td><%=	 database.created_date.titleize %></td>
    <td class="index">
		<div class="buttons">
	  		<%= link_to "View", database_url(database),
	  			:class => "button" %>
	  		<%= link_to "Edit", edit_database_path(database),
	  			:class => "button" %>
	   		<%= link_to "Delete", database,
	  			:confirm => 'Are you sure?',
	  			:method => :delete,
	  			:class => "button" %>
	    </div>
	</td>
  </tr>
<% end %>
<%if @databases.blank?-%>
  <tr>
	<td colspan = "2">There are currently no databases</td>
  </tr>
<%end-%>

</table>
<br />

<%= link_to 'New database', new_database_path %>