<h1>New database</h1>

<% form_for(@database) do |f| %>
  <%= f.error_messages %>
	<table>
		<th> Name </th> <th> Users </th>
	<tr><td>
		<%=f.label :name%>
		<%=f.text_field :name%>
	</td>
	<td>
		<%@users.each do |user|-%>
			<div class ="user-option">
			<%= check_box_tag 'users[]', user.user_id, @database.users.include?(user.user_id)%>
			<%=user.name.humanize%><br/>
			</div>
		<%end-%>
	</td>
	</table>	
	<p>
		<%=f.hidden_field :user_id, :value => session[:user_id]%>
	</p>
	
	<p>
		<%=f.hidden_field :created_date, :value => Time.now%>
	</p>
  	
	<p>
	   <%= f.submit 'Create' %>
	</p>
<% end %>

<%= link_to 'Back', databases_path %>