<!-- [25 July 2010] 
 KeysetTS: Partials have been combined into single file. Network Connection Target is no 
 longer stored within a <source> element. Since it stands alone it is easier to understand 
 the	template generation when organized in this manner 
-->
<%if !datasheet.source.nil? -%>	
	<% title = "#{datasheet.source.type.tag} (GUID: #{datasheet.source.type.g_u_i_d})" rescue nil -%>
	<h1 <% unless title.blank? -%> title="<%= title %>" <% end -%>><%= datasheet.source.tag %></h1>
	<table class="meas_locations">
	  <% datasheet.source.meas_locations.each do |meas_loc| -%>
	    <% meas_loc.object_data.each_with_index do |object_datum, index| -%>
	      <tr>
	        <% if index == 0 -%>
	          <% title = "#{meas_loc.type.tag} (GUID: #{meas_loc.type.g_u_i_d})" rescue nil -%>
	          <td class="user_tag" rowspan="<%= meas_loc.object_data.size %>" <% unless title.blank? -%> title="<%= title %>" <% end -%>><%= meas_loc.tag %></td>
	        <% end -%>
	        <td class="attribute_type" title="GUID: <%= object_datum.attribute_type.g_u_i_d %>"><%= object_datum.attribute_user_tag %></td>
	        <td class="object_data" <% if object_datum.eng_unit_type -%> title="GUID: <%= object_datum.eng_unit_type.g_u_i_d %>" <% end -%>> <%= object_datum.value %> </td>
	      </tr>
	    <% end -%>
	  <% end -%>
	</table>
<% end -%>

<%if !datasheet.target.nil? -%>
	<% title = "#{datasheet.target.type.tag} (GUID: #{datasheet.target.type.g_u_i_d})" rescue nil -%>
	<h2 <% unless title.blank? -%> title="<%= title %>" <% end -%>><%= datasheet.target.tag %></h2>
	<table class="meas_locations">
	  <% datasheet.target.meas_locations.each do |meas_loc| -%>
	    <% meas_loc.object_data.each_with_index do |object_datum, index| -%>
	      <tr>
	        <% if index == 0 -%>
	          <% title = "#{meas_loc.type.tag} (GUID: #{meas_loc.type.g_u_i_d})" rescue nil -%>
	          <td class="user_tag" rowspan="<%= meas_loc.object_data.size %>" <% unless title.blank? -%> title="<%= title %>" <% end -%>><%= meas_loc.tag %></td>
	        <% end -%>
	        <td class="attribute_type" title="GUID: <%= object_datum.attribute_type.g_u_i_d %>"><%= object_datum.attribute_user_tag %></td>
	        <td class="object_data" <% if object_datum.eng_unit_type -%> title="GUID: <%= object_datum.eng_unit_type.g_u_i_d %>" <% end -%>> <%= object_datum.value %> </td>
	      </tr>
	    <% end -%>
	  <% end -%>
	</table>
<% end -%>