<% indent_level ||= 1 %>
<% title = "#{datasheet.source.object_type.user_tag} (GUID: #{datasheet.source.object_type.guid})" rescue nil -%>
<h<%= indent_level %> <% unless title.blank? -%> title="<%= title %>" <% end -%>><%= datasheet.source.user_tag %></h<%= indent_level %>>
<table class="meas_locations">
  <% datasheet.source.meas_locations.each do |meas_loc| -%>
    <% meas_loc.object_data.each_with_index do |object_datum, index| -%>
      <tr>
        <% if index == 0 -%>
          <% title = "#{meas_loc.object_type.user_tag} (GUID: #{meas_loc.object_type.guid})" rescue nil -%>
          <td class="user_tag" rowspan="<%= meas_loc.object_data.size %>" <% unless title.blank? -%> title="<%= title %>" <% end -%>><%= meas_loc.user_tag %></td>
        <% end -%>
        <td class="attribute_type" title="GUID: <%= object_datum.attribute_type.guid %>"><%= object_datum.attribute_user_tag %></td>
        <td class="object_data" <% if object_datum.eng_unit_type -%> title="GUID: <%= object_datum.eng_unit_type.guid %>" <% end -%>> <%= object_datum.value %> </td>
      </tr>
    <% end -%>
  <% end -%>
</table>
<%= render :partial => "network_connections/datasheet", :collection => datasheet.targets, 
    :locals => {:indent_level => indent_level +1 } %>
